---
import Layout from "../layouts/Layout.astro";
import landingImage from "../assets/landing.jpg";
import { Image } from "astro:assets";
---

<Layout title="serversent.events">
  <div class="bg-zinc-900 h-screen">
    <Image
      src={landingImage}
      alt="background image"
      class="fixed mix-blend-lighten h-full w-full object-cover"
    />
    <div class="py-24 sm:py-32 lg:pb-40">
      <div class="mx-auto max-w-7xl p-6 lg:px-8">
        <div class="relative">
          <div class="rounded-xl p-4">
            <h1
              class="text-gray-600 text-4xl font-bold tracking-tight sm:text-6xl bg-gradient-to-r from-gray-600 to-purple-200 bg-clip-text text-transparent"
            >
              serversent.events
            </h1>
            <p class="mt-4 text-2xl leading-8 text-gray-400">
              rapid prototyping tool for SSE
            </p>
            <div class="mt-10 flex items-center gap-x-6 justify-start">
              <a
                href="/examples"
                class="rounded-md bg-gray-200 px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
              >
                See Examples
              </a>
              <a
                href="mailto:hello@chriswindsor.dev"
                class="text-sm font-semibold leading-6 text-white"
              >
                Submit feedback<span aria-hidden="true">&nbsp;&rarr;</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
